.todo_list_item.done{
    text-decoration: line-through;
}

.todo_list_item.important{
    font-weight: bold;
    color: #00BFFF;
}

.todo_list_item{
    display: inline-flex;
    width: 70%;
    white-space: pre-wrap;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.todo_list .btn{
    width: 31px !important ;
}


@media (max-width: 425px ) {
    .todo_list_item{
        width: 65%;
    }


    .todo_list .btn{
        width: 31px !important ;
    }
}
