.login-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 1rem;
    margin: 2rem auto;
    border-radius: 5px;
    width: 100%;

    background-image: url("https://i.pinimg.com/736x/e8/3b/66/e83b66a4cfe5282103c9ae62b5e39815.jpg");
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);

    backface-visibility: hidden;

}

.login-page form{
    text-align: left;
    display: flex;
    flex-direction: column;
}


.enter-page-button{
    margin: 0.3rem;
    border-radius: 1rem;
    background: linear-gradient(180deg,#f8c700,#d7ac01);
}

.enter-page-button:hover {
    background: linear-gradient(45deg,#fcf362 ,#f0ad00);
}


