body{
    background-color: #aedef4;
    background-image: url("https://st2.depositphotos.com/3648829/6254/v/450/depositphotos_62541341-stock-illustration-vector-seamless-pattern-of-bananas.jpg");
    background-repeat: repeat;

}

.app{
    margin: auto;
    max-width: 400px;
    padding: 0 0.5rem;

}
