



.description h4{
    text-align: center;

}


.logout-theme{
    margin: auto;
    max-width: 600px;
}

.description-item{
    border-radius: 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.description img{
    margin: auto;
    padding: 1rem;
    width: 60%;
    border-radius: 1rem;
}

.card-body{
    text-align: center;
}